<h3>facebook parameters</h3>
<form [formGroup]="facebookForm" (ngSubmit)="save()">
  <div class="form-group">
    <label for="pagesIds">Pages Ids :</label>
    <textarea formControlName="pagesIds" class="form-control" id="pagesIds" rows="10"></textarea>
  </div>
  <div class="form-group">
    <label for="pagesNames">Pages names :</label>
    <textarea formControlName="pagesNames" class="form-control" id="pagesNames" rows="10"></textarea>
  </div>
  <div class="form-group">
    <label for="pagesFrequency">pages frequency :</label>
    <input type="number" formControlName="pagesFrequency" id="pagesFrequency" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="eventsfrequency">Events frequency :</label>
    <input type="number" formControlName="eventsfrequency" id="eventsfrequency" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>