<h4>Eventful parameter</h4>
<form [formGroup]="eventFulForm">
<!--<form [formGroup]="eventFulForm" (ngSubmit)="save()">-->
  <div class="form-group">
    <label for="frequency">Frequency (ms) :</label>
    <input type="number" formControlName="frequency"
    #refFrequency id="frequency" class="form-control"/>
  </div>
  <div *ngIf="eventFulForm.controls['frequency'].hasError('required')" class="alert alert-danger">
      Frequency is required
  </div>
  <button class="btn btn-primary" (click)="save(this)">Save</button>
</form>