<div fxLayout="row" fxLayout.xs="column"
fxLayoutAlign="space-between center" fxLayoutAlign.xs="stretch" class="hundred">
    <div fxFlexAlign="start" fxFlex="stretch" class="hundred">
        <h1 fxLayoutAlign="space-between center">
            <span>Scouter Démo</span>

            <div>
                <img src="assets/images/delete-all.png"
                title="Delete all" (click)="deleteAll()"/>
            </div>
        </h1>
        
        <div id="drop" fxLayout="row" (dblclick)="open($event)">
        </div>
    </div>
    <app-tools fxFlex="22" fxFlexAlign="start"></app-tools>
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Component parameters</h4>
    </modal-header>
    <modal-body>
        <!-- RSS Feed -->
        <app-rss-form (notify)="notify()" *ngIf="componentChosen=='rss-feed.png'"></app-rss-form>
        
        <!-- Open Data -->
        <app-open-data-form (notify)="notify()" *ngIf="componentChosen=='open-data.png'"></app-open-data-form>            

        <!-- social networks -->
        <app-social-networks-form (notify)="notify()" *ngIf="componentChosen=='social-networks.png'"></app-social-networks-form>

        <!-- Geolocation -->
        <app-bounding-box-form (notify)="notify()" *ngIf="componentChosen=='geo-location.png'"></app-bounding-box-form>

        <!-- Keywords -->
        <app-keywords-form (notify)="notify()" *ngIf="componentChosen=='keyword-list.png' || componentChosen=='ontology.png'"></app-keywords-form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
        <button class="btn" (click)="close()">Close</button>
    </modal-footer>
</modal>