<h4>DBPedia parameters</h4>
<form [formGroup]="DBform">
<!--<form [formGroup]="DBform" (ngSubmit)="save()">-->
  <div class="form-group">
    <label for="frequency">Frequency :</label>
    <input type="number" formControlName="frequency" id="frequency" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="startDate">Start date :</label>
    <input type="date" formControlName="startDate" id="startDate" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="query">Query :</label>
    <textarea formControlName="query" class="form-control" id="query" rows="10"></textarea>
  </div>
  <button class="btn btn-primary" (click)="save(this)">Save</button>
</form>