#drop {
    border: solid 1px;
    width:99%;
    min-height: 400px;
    position: relative;
    // background-image: url('../../../../assets/images/grid.png');
    // background-repeat: repeat;
    background-color: #fcf4f4;
}
.workspace {
  border-right: 3px solid #CCCCCC;
}