#drop {
    border: solid 1px;
    width:92%;
    margin-left: 4%;
    min-height: 350px;
    position: relative;
    background-color: #fcf7bd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
}
.workspace {
  border-right: 3px solid #CCCCCC;
}
.workflow {
  width: 97%;
  margin: auto;
  margin-bottom: 20px;
}
chart {
  border: solid 1px;
}
.separator {
  border-top: solid 0.2px #5596F3;
  width: 90%;
  margin-top: 28px;
  margin-bottom: 28px;
}
.workflowNav {
  width: 92%;
  margin: auto;
}
.consoleNav {
  width: 80%;
  margin: auto;
}