#drop {
    border: solid 1px;
    width:80%;
    margin-left: 10%;
    min-height: 400px;
    position: relative;
    background-color: #fcf7bd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
}
.workspace {
  border-right: 3px solid #CCCCCC;
}
.workflow {
  width: 97%;
  margin: auto;
  margin-bottom: 20px;
}
chart {
  border: solid 1px;
}