<!-- Geolocation -->
<app-bounding-box-form (closeMapBox)="closeMapBox()" *ngIf="isMapIsOpened"></app-bounding-box-form>
<div class="workflow">
    <div fxLayout="row" fxLayout.xs="column"
    fxLayoutAlign="space-between center" fxLayoutAlign.xs="stretch">
        <!-- Application content -->
        <div fxFlex="80 stretch" class="hundred workspace">
            <ul class="nav nav-tabs workflowNav">
                <li><a>Workflow</a></li>
            </ul>
            <div id="drop" fxLayout="row" (dblclick)="open($event)">
                <button class="btn btn-wkl delete" (click)="deleteAll()">Delete all</button>
                <button class="btn btn-wkl default" (click)="drawDefaultWorkflow()">Default workflow</button>
            </div>
            
            <hr class="separator"/>
            <ul class="nav nav-tabs consoleNav">
                <li><a>Console Result</a></li>
            </ul>
            <app-console-result></app-console-result>
        </div>
        <!-- Tools menu content -->
        <!--<app-tools fxFlex="20" fxFlexAlign="start"></app-tools>-->
        <div fxFlex="20" fxFlexAlign="start">
            <div fxFlex="10"></div>
            <div class="content" fxFlex="80" fxFlexAlign="start">
                <h3>Tools</h3>
                <hr class="separator"/>
                <div id="accordion">
                    <h3 class="btn accTitle" (click)="reverseOpenData()" fxLayoutAlign="space-between center">
                        Data
                        <i class="fa fa-caret-up" *ngIf="isOpenData"></i>
                        <i class="fa fa-caret-down" *ngIf="!isOpenData"></i>
                    </h3>
                    <div class="accordionContainer">
                        <span class="btn draggable"><img src="./assets/images/rss-feed.png" class="icon"/> RSS Feed</span>
                        <span class="btn draggable"><img src="./assets/images/dbpedia.png" class="icon"/> DBpedia</span>
                        <span class="btn draggable"><img src="./assets/images/open-agenda.png" class="icon"/> Open Agenda</span>
                        <span class="btn draggable"><img src="./assets/images/owm.png" class="icon"/> OWM</span>
                        <span class="btn draggable"><img src="./assets/images/facebook.png" class="icon"/> Facebook</span>
                        <span class="btn draggable"><img src="./assets/images/twitter.png" class="icon"/> Twitter</span>
                        <span class="btn draggable"><img src="./assets/images/geo-location.png" class="icon"/> Geo Location</span>
                    </div>
                    <h3 class="btn accTitle" (click)="reverseOpenKeywords()" fxLayoutAlign="space-between center">
                        Keywords
                        <i class="fa fa-caret-up" *ngIf="isOpenKeywords"></i>
                        <i class="fa fa-caret-down" *ngIf="!isOpenKeywords"></i>
                    </h3>
                    <div class="accordionContainer">
                        <span class="btn draggable"><img src="./assets/images/keyword-list.png" class="icon"/> Keyword List</span>
                    </div>
                    <h3 class="btn accTitle" (click)="reverseOpenAnalytics()" fxLayoutAlign="space-between center">
                        Analytics
                        <i class="fa fa-caret-up" *ngIf="isOpenAnalytics"></i>
                        <i class="fa fa-caret-down" *ngIf="!isOpenAnalytics"></i>
                    </h3>
                    <div class="accordionContainer">
                        <span class="btn draggable"><img src="./assets/images/sentimental-analysis.png" class="icon"/> Sentimental Analysis</span>
                        <span class="btn draggable"><img src="./assets/images/topic-extraction.png" class="icon"/> Topic extraction</span>
                    </div>
                    <h3 class="btn accTitle" (click)="reverseResults()" fxLayoutAlign="space-between center">
                        Results
                        <i class="fa fa-caret-up" *ngIf="isOpenResults"></i>
                        <i class="fa fa-caret-down" *ngIf="!isOpenResults"></i>
                    </h3>
                    <div class="accordionContainer">
                        <span class="btn draggable"><img src="./assets/images/mongodb-sink.png" class="icon"/> MongoDB sink</span>
                        <span class="btn draggable"><img src="./assets/images/console-sink.png" class="icon"/> Console sink</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Component parameters</h4>
    </modal-header>
    <modal-body>
        <!-- RSS Feed -->
        <app-rss-form (notify)="notify()" *ngIf="componentChosen=='rss-feed.png'"></app-rss-form>
        
        <!-- Open Data -->
        <app-dbpedia-form (notify)="notify()" *ngIf="componentChosen=='dbpedia.png'"></app-dbpedia-form>            
        <app-eventful-form (notify)="notify()" *ngIf="componentChosen=='eventful.png'"></app-eventful-form>            
        <app-owm-form (notify)="notify()" *ngIf="componentChosen=='owm.png'"></app-owm-form>            
        <app-open-agenda-form (notify)="notify()" *ngIf="componentChosen=='open-agenda.png'"></app-open-agenda-form>            

        <!-- social networks -->
        <app-facebook-form (notify)="notify()" *ngIf="componentChosen=='facebook.png'"></app-facebook-form>
        <app-twitter-form (notify)="notify()" *ngIf="componentChosen=='twitter.png'"></app-twitter-form>

        <!-- Geolocation -->
        <app-bounding-box-form (notify)="notify()" *ngIf="componentChosen=='geo-location.png'"></app-bounding-box-form>

        <!-- Keywords -->
        <app-keywords-form (notify)="notify()" *ngIf="componentChosen=='keyword-list.png' || componentChosen=='ontology.png'"></app-keywords-form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
        <button class="btn btn-primary" (click)="delete()">delete</button>
        <button class="btn" (click)="close()">Close</button>
    </modal-footer>
</modal>

<modal #modal2>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Confirmation</h4>
    </modal-header>
    <modal-body class="modalSize">
            Do you want to delete this component ?
    </modal-body>
    <modal-footer [show-default-buttons]="false">
        <button class="btn btn-primary" (click)="delete()">delete</button>
        <button class="btn" (click)="close()">Close</button>
    </modal-footer>
</modal>