<!--<svg width="960" height="600"></svg>-->
<!--<app-line-chart></app-line-chart>-->
<!--<app-column-chart></app-column-chart>-->
<!--<app-multiline-chart></app-multiline-chart>-->
<!--<app-pie-chart></app-pie-chart>-->
<!--<app-gauge></app-gauge>-->

<section>
  <ul *ngFor="let categorie of categories" id="categories">
    <li fxLayout="row" fxLayoutAlign="space-between center"
    (click)="open(categorie)" class="accordion-title">
      {{categorie.title}}
      <i class="fa fa-caret-up" *ngIf="!categorie.value"></i>
      <i class="fa fa-caret-down" *ngIf="categorie.value"></i>
    </li>
    <div [ngClass]="{hide:!categorie.value}">
      <app-line-chart *ngIf="categorie.title === 'Mongodb'"></app-line-chart>
    </div>
  </ul>
</section>