<!-- Carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active carouselImg">
      <img src="./assets/images/home/0.jpg" alt="Welcome">
      <div class="carousel-caption">
        <h3>WELCOME TO SCOUTER</h3>
        <p>Free Open Source Semantic Stream Processing Tools to Support Big Data Platforms</p>
      </div>
    </div>

    <div class="item carouselImg">
      <img src="./assets/images/home/1.jpg" alt="Scouter 1">
      <div class="carousel-caption">
        <h3>SCOUTER 1</h3>
        <p> jskj kjsd kjsk d</p>
      </div>
    </div>

    <div class="item carouselImg">
      <img src="./assets/images/home/2.jpg" alt="Scouter 2">
      <div class="carousel-caption">
        <h3>SCOUTER 2</h3>
        <p>qs,nj j jb</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Collaboration block -->
<br/>
<div class="collaboration" fxLayout="row" fxLayoutAlign="space-around center">
  <span>COLLABORATION FROM</span> 
  <img src="./assets/images/home/monge.png" class="collab"/>
  <span>&</span>
  <img src="./assets/images/home/atos.png" class="collab"/>
</div>

<!-- Scouter definition -->
<br/>
<h3>WHAT IS SCOUTER ?</h3>
<br/>
<div class="definition">
  <div class="subDiv">
    A generic system that helps in capturing, analyzing, 
    scoring and storing the contextual information of a given 
    application domain. By leveraging on the power of semantics
    and machine learning, Scouter aims at providing a powerful 
    set of tools to enrich the pipeline of any given Big Data Platform.
  </div>
</div>
<br/>
<br/>

<!-- Explaining -->
<div class="explaining" fxLayout="row" fxLayoutAlign="space-around center">
  <!-- block 1 -->
  <div class="explainBlock">
    <img src="./assets/images/home/plugin.png" class="explainImg"/>
    <div fxLayout="row" fxLayoutAlign="center" class="explainTitle">
      PLUG-IN DESIGN
    </div>
    <br/>
    <div class="explainDef">
      <div class="subDiv">
        Scouter is based on Java, is extensible, and provides 
        a plug-and-play environment that makes it a flexible 
        base for rapid prototyping and application development.
      </div>
    </div>
  </div>
  <!-- block 2 -->
  <div class="explainBlock">
    <img src="./assets/images/home/ML.png" class="explainImg"/>
    <div fxLayout="row" fxLayoutAlign="center" class="explainTitle">
      MACHINE LEARNING
    </div>
    <br/>
    <div class="explainDef">
      <div class="subDiv">
        Scouter offers a set of ML functions that 
        can adapt to any Big Data platform whatever
        the engine used and without losing the 
        capability to process various types of
        data sources.
      </div>
    </div>
  </div>
  <!-- block 3 -->
  <div class="explainBlock">
    <img src="./assets/images/home/nlp.png" class="explainImg"/>
    <div fxLayout="row" fxLayoutAlign="center" class="explainTitle">
      NLP FUNCTIONS
    </div>
    <br/>
    <div class="explainDef">
      <div class="subDiv">
        Leveraging on the flexibility of ontologies 
        and the possibility to extend it based on other
        research work, Scouter offers a powerful list
        of nlp functions to support business decisions.
      </div>
    </div>
  </div>
</div>

<br/>
<h3>TECHNOLOGIES WE USE</h3>
<br/>
<div class="technologies" fxLayout="row" fxLayoutAlign="space-around center">
  <img src="./assets/images/home/java.png" class="techno"/>
  <div class="border"></div>
  <img src="./assets/images/home/kafka.png" class="techno"/>
  <div class="border"></div>
  <img src="./assets/images/home/mongo.png" class="techno"/>
  <div class="border"></div>
  <img src="./assets/images/home/docker.png" class="techno"/>
</div>