$blue: #5596F3;

.logo {
    width: 100px;
}
.welcome {
    border: solid 2px;
    background-color: #E2E2E2;
    text-align: center;
    padding: 25px 0px 75px;
    font-size: 25px !important;
}
.collab {
    height: 80px;
}
.collaboration {
    border-top: solid 2px;
    border-bottom: solid 2px;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    color: $blue;
}
h3 {
    text-align: center;
    color: #5596F3;
}
.definition {
    font-size: 20px;
    text-align: center;
}
.subDiv {
    width: 80%;
    margin: auto;
}
.techno {
    height: 70px;
    width: 220px;
}
.border {
    height: 55px;
    border-right: solid $blue 2px;
}
.carouselImg {
  width: auto;
  height: 300px;
  max-height: 300px;
}
.explaining {
    margin: 12px;
}
.explainBlock {
  border: solid 2px #5596F3;
  padding: 10px;
}
.explainImg {
  width: 78px;
  display: block;
  margin: auto;
}
.explainTitle {
  color: #9E9EA4;
  text-align: center;
}
.explainDef {
  width: 300px;
  text-align: center;
}
.technologies {
  margin-bottom: 80px;
}