<h3>Tools</h3>
<hr/>
<h4>Data</h4>
<div fxLayout="column">
  <button class="btn">RSS Feed</button>
  <button class="btn">Open Data</button>
  <button class="btn">Social Networks</button>
  <button class="btn">Geo Location</button>
<div>
<hr/>
<h4>Keywords</h4>
<div fxLayout="column">
  <button class="btn">Keyword list</button>
  <button class="btn">Ontology</button>
<div>
<hr/>
<h4>Analytics</h4>
<div fxLayout="column">
  <button class="btn">Sentimental Analysis</button>
  <button class="btn">Topic extraction</button>
<div>