<div fxLayout="row" fxLayoutAlign="space-between center" class="container1">
  <div>
    <img class="arc" src="./assets/images/about/Architecture.png"/>
  </div>
  <div fxFlexAlign="start" class="box-warning" fxFlex="20">
    <h4>Latest News</h4>
    <ul class="latest-news">
      <li>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <a href="#">Scouter 1.0</a>
        <span class="small">(29 Mar 2017)</span>
      </li>
      <li>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>        
        <a href="#">Scouter 1.0</a>
        <span class="small">(29 Mar 2017)</span>
      </li>
    </ul>
    <p align="right"><a href="/2017/03/29/storm110-released.html" class="btn-std">More News</a></p>
  </div>
</div>

