$color: #F0F0F0;
h4 {
    margin: 1px;
    background-color: $color;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.accordionContainer {
    width: 96%;
    margin-left: 4%;
}
span {
    margin: 1px;
    background-color: $color;
    font-weight: 600;
}
.content {
    width: 80%;
    float: right;
}