<!--<header fxLayout="row" fxLayoutAlign="space-between center">
  <a href="/home">
    <img src="./assets/images/home/scouter_logo.png" title="Scouter" class="logo"/>
  </a>
  <span class="title">
    Scouter 1 V1.0 IS RELEASED ! 
    <a href="https://github.com" target="_blank">DOWNLOAD NOW !</a>
  </span>
  <span>
    <span class="slogan">Funded by</span>
    <a href="http://waves-rsp.org/" target="_blank">
      <img src="./assets/images/waves-logo.png" title="Waves project" class="wavesLogo"/>
    </a>
    <br/>
  </span>
</header>-->
<div class="menu" fxLayout="row" fxLayoutAlign="space-between center">
  <ul class="nav navbar-nav">
    <li><a routerLink="/home" routerLinkActive="active"><span>Home</span></a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>
    <li><a routerLink="/workflow" routerLinkActive="active">Application</a></li>
    <li><a routerLink="/monitoring" routerLinkActive="active">Monitoring</a></li>
    <li><a routerLink="#" routerLinkActive="active">Downloads</a></li>
  </ul>
  <div>
    <ul class="nav navbar-nav">
      <li (mouseover)="hover=true" (mouseout)="hover=false">
        <a href="http://waves-rsp.org/" target="_blank">
          <img src="./assets/images/waves-logo.png" *ngIf="!hover" title="Waves project" class="wavesLogo"/>
          <img src="./assets/images/waves-logo-hover.png" *ngIf="hover" title="Waves project" class="wavesLogo"/>
          Waves project
        </a>
      </li>
      <li>
        <a href="https://github.com" target="_blank">
          <i class="fa fa-github"></i>
          Github
        </a>
      </li>
      <li>
        <div class="box">
          <div class="container-1">
              <span class="icon"><i class="fa fa-search"></i></span>
              <input type="search" id="search" placeholder="Search..." />
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<br/>
<br/>
<br/>
