<header fxLayout="row" fxLayoutAlign="space-between center">
  <a href="/home">
    <img src="./assets/images/home/scouter_logo.png" title="Scouter" class="logo"/>
  </a>
  <span class="title">
    Scouter 1 V1.0 IS RELEASED ! 
    <a href="https://github.com" target="_blank">DOWNLOAD NOW !</a>
  </span>
  <span>
    <span class="slogan">Funded by</span>
    <a href="http://waves-rsp.org/" target="_blank">
      <img src="./assets/images/waves-logo.png" title="Waves project" class="wavesLogo"/>
    </a>
    <br/>
  </span>
</header>
<!--<div fxLayout="row" fxLayoutAlign="end center" >
  <ul class="nav nav-tabs">
    <li><a routerLink="/scouter1" routerLinkActive="active">Scouter 1</a></li>
    <li><a routerLink="/scouter2" routerLinkActive="active">Scouter 2</a>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/workflow" routerLinkActive="active">Application</a></li>
    <li><a routerLink="/monitoring" routerLinkActive="active">Monitoring</a></li>
  </ul>
</div>-->
<div class="menu" fxLayout="row" fxLayoutAlign="space-between center">
  <ul class="nav">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="#" routerLinkActive="active">About</a></li>
    <li><a routerLink="#" routerLinkActive="active">Documentation</a></li>
    <li><a routerLink="/workflow" routerLinkActive="active">Application</a></li>
    <li><a routerLink="/monitoring" routerLinkActive="active">Monitoring</a></li>
    <li><a routerLink="#" routerLinkActive="active">Downloads</a></li>
  </ul>
  <div class="box">
    <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..." />
    </div>
  </div>
</div>
