$blue: #5596F3;

.logo {
    // width: 125px;
    height: 125px;
}
.wavesLogo {
  height: 25px;
}
.container-1 {
  padding: 7px;
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-left: 5px;
}
.container-1 input#search {
  width: 180px;
  height: 35px;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: solid 1px;
}
.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 15px;
  margin-top: 8px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active {
  outline:none;
  background: #ffffff;
}
.title {
  padding: 6px;
  background-color: $blue;
  border: solid 2px black;
  color: white;
  font-size: 20px;
  a {
	color: white;
  }
}
.slogan {
  margin: 3px;
  display: block;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
}
.menu {
  background-color: $blue;
  height: 50px;
  margin-bottom: 10px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 200;
  li {
    display: inline-block;
    a {
      color: white;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
    }
    a:hover, a:focus {
      color: #337ab7;
    }
  }
}
.active {
    background-color: #EEEEEE;
    color: #337ab7 !important;
}
.box {
  display: inline-block;
}