$color: #0066A1;
header {
    background-color: $color;
    color: white;
    font-style: italic;
}
.logo {
    width: 50px;
}
.nav {
    display: inline-block;
    color: white !important;
    margin-left: 5px;
    font-size: 20px;
}
.version {
    padding: 5px;
}