<div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="footerRight">
    <h3>ABOUT SCOUTER</h3>
    <p class="white">
      Scouter is a research project within WAVES Platform, a join work between 
      Atos R&D laboratory and several academic institutions, namely Gaspard 
      Monge Computer Science Laboratory.
    </p>
    <hr class="separator"/>
    <p class="white">Copyright &copy; 2017 Gaspard Monge Computer Science Laboratory & Atos R&D.</p>
    <p class="caption">Scouter is a research resource for Semantics and Machine Learning.</p>
  </div>
  <div class="footerCenter">
  </div>
  <div class="footerLeft">
    <span class="white">MORE INFORMATION</span>
    <hr class="separator2"/>
    <span class="contactUs">CONTACT US</span>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <img src="./assets/images/home/envelope.png" class="socialNetworks"/>
      <img src="./assets/images/home/twitter.png" class="socialNetworks"/>
      <img src="./assets/images/home/linkedin-logo.png" class="socialNetworks"/>
    </div>
  </div>
</div>