.footer {
    background-color: #BDBDBD;
    padding: 10px0;
    h3 {
        text-align: left;
        color: #00BCD4;
    }
}
.white {
    color: white;
}
.caption {
    color: #27BCD3;
}
.separator {
    width: 20%;
    border: solid 1px white;
    background-color: white;
}
.separator2 {
    width: 60%;
    border: solid 1px gray;
    background-color: gray;
}
.footerRight {
    width: 70%;
}
.footerCenter {
    height: 100px;
    background-color: white;
    border: solid 1px white;
}
.footerLeft {
}
.socialNetworks {
    width: 35px;
}
.contactUs {
    font-size: 26px;
    color: #00BCD4;
}